<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UndcBusEstudiante"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SendNotificationActivity"
            android:exported="false" />

        <service
            android:name=".Service.LocationForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".Service.Fcm"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.SubscriptionService" />

        <activity
            android:name=".Activitys.RutasActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdministradorActivity"
            android:exported="false" /> <!-- Declaración del servicio LocationService -->
        <service android:name=".Service.LocationService" />

        <activity
            android:name=".Activitys.TicketActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwamOUrPa1908hvuRdRzvdPJTAlLiZwKY" />

        <activity
            android:name=".Activitys.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.TrackBusActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Administrador.EstadisticasActivity"
            android:exported="true" />
    </application>

</manifest>